<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSAZTp0pl8q2MBYmeccFG6pu2AT5UIgbo</string>
	<key>GCM_SENDER_ID</key>
	<string>357117924366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.barcontent</string>
	<key>PROJECT_ID</key>
	<string>contentcreator-9774f</string>
	<key>STORAGE_BUCKET</key>
	<string>contentcreator-9774f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357117924366:ios:fea02b1b78b2396e33985f</string>
</dict>
</plist>