/* Hide scrollbar but keep scrolling */
html, body {
  overflow: auto;
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
